<footer class="footer">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column is-one-fifth">
        <div class="circular davide is-marginless is-paddingless"></div>
      </div>

      <div class="column is-pull-left">
        <span id="contact" class="list-head">Find me at</span>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            Applied Software Engineering research group
            <br>Fachbereich Informatik
            <br>University of Hamburg
            <br>Vogt-Koelln-Strasse 30
            <br>22527 Hamburg, Germany
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:fucci@informatik.uni-hamburg.de">fucci@informatik.uni-hamburg.de</a>
          </li>
          <li><i class="fa-li fa fa-phone"></i>
            +49 163 400 6714
        <i class="flag-icon flag-icon-de"></i>
          </li>
          <br>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>
      <p>
        Copyright © <span class="current-year"></span> Davide Fucci
      </p>
    </div>
  </div>
</footer>
</body>
</html>
