<footer class="footer">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column is-pull-left">
        <span id="contact" class="list-head">Find me at</span>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            Blekinge Institute of Technology
            <br>Department of Software Engineering
            <br>SERL
            <br>371 79 Karlskrona, Sweden
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:name<dot>surname<at>bth<dot>se">name dot surname at bth dot se</a>
          </li>
          <li><i class="fa-li fa fa-key"></i>
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/EF5AE4A3A7B8CA730D5055CD6B2C26948AF00CB3">My PGP key</a>
          </li>
          <li><i class="fa-li fa fa-phone"></i>
            +46 732 5252 18
        <i class="flag-icon flag-icon-se"></i>
          </li>
          <br>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>
      <p>
        Copyright © <span class="current-year"></span> Davide Fucci
      </p>
    </div>
  </div>
</footer>
</body>

</html>
