<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="slogan">
          I'm an <span class="highlight-anim"><span class="highlight__inner-anim">Assistant Professor</span></span> (Senior Lecturer)
          at the <a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Software Engineering Research Lab</a> (Blekinge Institute of Technology)
        </div>
</section>

<svg height="0" width="0">
  <lineargradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#cec14a;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#f39c18;stop-opacity:1" />
  </lineargradient>
</svg>

<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="research" class="at-a-glance-header">
            <i class="fas fa-flask"></i>
            Research
          </div>
        </div>
        <div class="column content research">
          <p>
            I'm interested in various aspects of software and requirements engineering, such as:
          </p>
          <ul>
            <li>data-driven requirements engineering,</li>
            <li>developers' affect, behaviours, and cognition,</li>
            <li>Agile testing, including security testing.</li>
          </ul>
          <p>
            My work focuses on <b class="white"><i>empirical</b></i> methodologies. I have strong expertise in:
            <ul>
              <li>designing, executing, and analyzing controlled experiments to evaluate software development
                processes and tools,</li>
              <li>applying machine learning and natural language processing to software development artifacts.</li>
            </ul>
          </p>
          <p>
          I am currently involved in the <a href="https://rethought.se">Software Engineering Rethought Profile</a> at BTH. SERethought aims to take on the next generation challenges faced by companies developing software-intensive systems and products. Until December 2019, I was part of the H2020 project <a href="https://openreq.eu">OpenReq </a> <i class="em em-flag-eu"></i>
            to develop intelligent recommendation technologies for requirements engineering.

            Previously, I investigated the effects of applying <a href="http://eatdd.oulu.fi">test-driven development</a>
            in close collaboration <a href="http://www.softwareindustryexperiments.org/">with industry</a>.
          </p>

          <p><i class="ai ai-open-access"></i> I'm enthusiastic about open research data and open science.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="publications" class="at-a-glance-header">
          <i class="fas fa-file-alt"></i>
          Publications
        </div>
      </div>
      <div class="column">
        <div class="publication-head">Most Recent</div>
        <table class="table publications">
          <tbody>
            <tr>
              <td>
                <div class="pub-title">Empirical research on requirements quality: a systematic mapping study.</div>
                <div class="pub-authors">Lloyd Montgomery, Davide Fucci, Abir Bouraffa, Lisa Scholz, Waleed Maalej</div>
                <div class="pub-conf-journal-name">Requirements Engineerig Journal</div>
                <div class="pub-meta"><a href="https://link.springer.com/article/10.1007/s00766-021-00367-z"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">REEN</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Affective reactions and test-driven development: Results from three experiments and a survey</div>
                <div class="pub-authors">Maria Teresa Baldassarre, Danilo Caivano, Davide Fucci, Simone Romano, Giuseppe Scanniello</div>
                <div class="pub-conf-journal-name">Journal of System and Software</div>
                <div class="pub-meta"><a href="https://www.sciencedirect.com/science/article/pii/S0164121221002454"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">JSS</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">A family of experiments on test-driven development </div>
                <div class="pub-authors">Adrian Santos, Sira Vegas, Oscar Dieste, Fernando Uyaguari, Ayse Tosun, Davidee Fucci, Burak Turhan, Giuseppe Scanniello, Simone Romano, Itir Karac, and others</div>
                <div class="pub-conf-journal-name">Empirical Software Engineering</div>
                <div class="pub-meta"><a href="https://link.springer.com/article/10.1007/s10664-020-09895-8"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">EMSE</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Cognition in Software Engineering: A Taxonomy and Survey of a Half-Century of Research</div>
                <div class="pub-authors">Fabian Fagerholm, Michael Felderer, Davide Fucci, Michael Unterkalmsteiner, Bogdan Marculescu, Markus Martini, Lars G&ouml;ran Wallgren Tengberg, Robert Feldt, Bettina Lehtel&auml;, Bal&aacute;zs Nagyv&aacute;radi, Jehan Khattak</div>
                <div class="pub-conf-journal-name">ACM Computing Surveys</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/10.1145/3508359"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">CSUR</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">On researcher bias in Software Engineering experiments</div>
                <div class="pub-authors">Simone Romano, Davide Fucci, Giuseppe Scanniello, Maria Teresa Baldassarre, Burak Turhan, Natalia Juristo</div>
                <div class="pub-conf-journal-name">Journal of System and Software</div>
                <div class="pub-meta"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0164121221001655"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">JSS</div>
              </td>
            </tr>
          </tbody>
        </table>

        <a class="button publication-button" href="https://scholar.google.de/citations?hl=en&user=9hlOBUcAAAAJ"><i
            class="fa-fw ai ai-google-scholar-square "></i>&nbsp; Full Publication List</a>
      </div>
      <div class="column">
        <div class="publication-head">Most Cited</div>
        <table class="table publications">
          <tbody>
            <tr>
              <td>
                <div class="pub-title">A Dissection of the test-driven Development Process: Does it Really Matter to
                  Test-first or to Test-last?</div>
                <div class="pub-authors">Davide Fucci, Hakan Erdogmus, Burak Turhan, Markku Oivo, Natalia Juristo</div>
                <div class="pub-conf-journal-name">IEEE Transactions on Software Engineering</div>
                <div class="pub-meta"><a href="https://arxiv.org/pdf/1611.05994.pdf"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">TSE 2017</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Empirical evaluation of the effects of experience on code quality and programmer productivity: an exploratory study</div>
                <div class="pub-authors">Oscar Dieste, Alejandrina M. Aranda, Fernando Uyaguari, Burak Turhan, Ayse Tosun, Davide Fucci, Markku Oivo, Natalia Juristo </div>
                <div class="pub-conf-journal-name">Empirical Software Engineering Journal</div>
                <div class="pub-meta"><a href="https://link.springer.com/article/10.1007/s10664-016-9471-3"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">EMSE 2017</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">On the Role of Tests in Test-driven Development: a Differentiated and Partial
                  Replication</div>
                <div class="pub-authors">Davide Fucci, Burak Turhan</div>
                <div class="pub-conf-journal-name">Empirical Software Engineering Journal</div>
                <div class="pub-meta"><a href="https://link.springer.com/article/10.1007/s10664-013-9259-7"><span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">EMSE 2014</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">A Replicated Experiment on the Effectiveness of Test-first Development</div>
                <div class="pub-authors">Davide Fucci, Burak Turhan</div>
                <div class="pub-conf-journal-name">The 7th ACM/IEEE International Symposium on Empirical Software
                  Engineering and Measurement</div>
                <div class="pub-meta"><a href="https://www.computer.org/csdl/proceedings/esem/2013/5056/00/5056a103-abs.html"><span
                      class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">ESEM 2013</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">An External Replication on the Effects of Test-driven Development using a Multi-site Blind Analysis Approach</div>
                <div class="pub-authors">Davide Fucci, Giuseppe Scanniello, Simone Romano, Martin Shepperd, Boyce Sigweni, Fernando Uyaguari, Burak Turhan, Natalia Juristo, Markku Oivo</div>
                <div class="pub-conf-journal-name">The 10th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/abs/10.1145/2961111.2962592"><span
                      class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">ESEM 2016</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Service -->
<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="service" class="at-a-glance-header">
            <i class="fas fa-pen-alt"></i>
            Service
          </div>
        </div>
        <div class="column">
          <span class="subsec-head">Organizer</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://semotion.github.io/2020">SEmotion</a>
                  <div class="abbrv">5th Intl. Workshop on Emotion Awareness in Software Engineering</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="http://nlp4re.github.io/2020">NLP4RE</a>
                  <div class="abbrv">Third Workshop on Natural Language Processing for Requirements Engineering</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
              <tr>
                <th>
                  <a href="https://mast.informatik.uni-hamburg.de/affectre/">AffectRE</a>
                  <div class="abbrv">2nd Intl. Workshop on Affective Computing for Requirements Engineering</div>
                </th>
                <td nowrap>2019</td>
              </tr>
              <tr>
                  <th>
                    <a href="https://semotion.github.io/2019/">SEmotion</a>
                    <div class="abbrv">4th Intl. Workshop on Emotion Awareness in Software Engineering</div>
                  </th>
                  <td nowrap>2019</td>
                </tr>
              <tr>
                <th>
                  <a href="https://mast.informatik.uni-hamburg.de/affectre/2018">AffectRE</a>
                  <div class="abbrv">1st Intl. Workshop on Affective Computing for Requirements Engineering</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Organizing Committee Member</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="">ICSE</a>
                  <div class="abbrv">The 43rd IEEE/ACM International Conference on Software Engineering</div>
                </th>
                <td nowrap>2021</td>
              </tr>
              <tr>
                <th>
                  <a href="http://eseiw2018.wixsite.com/esem2018">ESEM </a>
                  <div class="abbrv">12th ACM/IEEE International Symposium on Empirical Software Engineering and
                    Measurement</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Program Committee Member</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  ICPC
                  <div class="abbrv">ACM/IEEE International Conference on Program Comprehension</div>
                </th>
                <td nowrap>2019, 2021--2022</td>
              </tr>
              <tr>
                <th>
                  RE
                  <div class="abbrv">ACM/IEEE International Conference on Requirements Engineering</div>
                </th>
                <td nowrap>2021-2022</td>
              </tr>
              <tr>
                <th>
                  CHASE
                  <div class="abbrv">ACM/IEEE International Conference on Cooperative and Human Aspects of Software Engineering</div>
                </th>
                <td nowrap>2019-2022</td>
              </tr>
              <tr>
                <th>
                  ECSA
                  <div class="abbrv">ACM/IEEE European Conference on Software Architecture</div>
                </th>
                <td nowrap>2021</td>
              </tr>
              <tr>
                <th>
                  SANER
                  <div class="abbrv">ACM/IEEE International Conference on Software Analysis, Evolution, and Re-engineering</div>
                </th>
                <td nowrap>2020-2022</td>
              </tr>
              <tr>
                <th>
                  REFSQ
                  <div class="abbrv">International. Working Conference on Requirements Engineering: Foundation for Software Quality </div>
                </th>
                <td nowrap>2019-2021</td>
              </tr>
              <tr>
                <th>
                  ESEM
                  <div class="abbrv">ACM/IEEE International Symposium on Empirical Software Engineering and Measurement</div>
                </th>
                <td nowrap>2015–2021</td>
              </tr>
              <tr>
                <th>
                  ICSSP
                  <div class="abbrv">International Conference on Software and System Processes</div>
                </th>
                <td nowrap>2016–2021</td>
              </tr>
              <tr>
                <th>
                  EASE
                  <div class="abbrv">IEEE International Conference on Evaluation and Assessment in Software Engineering</div>
                </th>
                <td nowrap>2018–2020</td>
              </tr>
              <tr>
                <th>
                  PROFES
                  <div class="abbrv">International Conference on on Product-Focused Software Process Improvement</div>
                </th>
                <td nowrap>2018-2020</td>
              </tr>
              <tr>
                <th>
                  SEAA
                  <div class="abbrv">Euromicro Conference Software Engineering and Advanced Applications</div>
                </th>
                <td nowrap>2018</td>
              </tr>
              <tr>
                <th>
                  XP
                  <div class="abbrv">International Conference on Agile Software Development</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <span class="subsec-head">Journal Reviewer</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  TSE
                  <div class="abbrv">IEEE Transactions on Software Engineering</div>
                </th>
              </tr>
              <tr>
                <th>
                  TOSEM
                  <div class="abbrv">IEEE Transactions on Software Engineering and Methodology</div>
                </th>
              </tr>
              <tr>
                <th>
                 REEN
                  <div class="abbrv">Requirements Engineering Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  EMSE
                  <div class="abbrv">Empirical Software Engineering Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  IST
                  <div class="abbrv">Information and Software Technology Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  JSS
                  <div class="abbrv">Journal of Software and Systems</div>
                </th>
              </tr>
              <tr>
                <th>
                  STVR
                  <div class="abbrv">Software Testing, Verification and Reliability Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  SQJ
                  <div class="abbrv">Software Quality Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  JSME
                  <div class="abbrv">Journal of Software Maintenance and Evolution: Research and Practice</div>
                </th>
              </tr>
            </tbody>
          </table>

          <a class="button publication-button" href="https://www.publons.com/a/930114/"><i class="fa-fw ai ai-publons-square "></i>&nbsp;
            Full Service List</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Teaching -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="teaching" class="at-a-glance-header">
          <i class="fas fa-graduation-cap"></i>
          Teaching
        </div>
      </div>
      <div class="column">
        <div class="teaching-head">Blekinge Institute of Technology</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Software Testing</a>
              <td nowrap>Spring 2021, 2022</td>
            </tr>
            <tr>
              <td>Lectures on different testing strategies, including black-box, white-box, and exploratory testing.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/education/courses/20221/D5855/">Quality Assurance of Security Aware Applications</a>
              <td nowrap>Spring 2022</td>
            </tr>
            <tr>
              <td>This course is aimed at professionals working in software development. Fundamental testing practices applied to secure software development. Integration of automated software testing to verify software security.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Global Software Development</a>
              <td nowrap>Fall 2019—2021</td>
            </tr>
            <tr>
              <td>Lectures on strategy for outsorcing software development, distributed developmend and tools.</td>
            </tr>
          </tbody>
        </table>
        <div class="teaching-head">University of Hamburg</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://mast.informatik.uni-hamburg.de/lecture-emse-patterns/">Software Patterns</a>
              <td nowrap>Spring 2017, 2018</td>
              </th>
            </tr>
            <tr>
              <td>Lectures on design patterns, SOLID principles, testing, and continuos deployment.</td>
            </tr>
            <tr>
              <th nowrap><a href="https://mast.informatik.uni-hamburg.de/seminar-emse/">Empirical Software Engineering</a></th>
              <td nowrap>Spring 2017, 2018</td>
            </tr>
            <tr>
              <td>Seminars on both qualitative and quantitative research methods discussing their applications to
                software projects.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <div class="teaching-head">University of Oulu</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/815311a/esite">Software Quality and Testing</a></th>
              <td nowrap>Fall 2013–2016</td>
              </tr>
              <tr>
              <td>Lectures on software quality assurance, and quality management. Hands-on fundamentals about software testing and test automation.</td>
            </tr>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/817602s/esite">Software Development in Global Environment</a></th>
              <td nowrap>Fall 2013–2015</td>
              </tr>
              <tr>
              <td>Lectures on distributed software development, with a focus on communication and knowledge management challenges. </td>
            </tr>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/815662s/esite">Software Engineering Management, Measurement and Improvement</a></th>
              <td nowrap>Spring 2014</td>
              </tr>
              <tr>
              <td>Lectures on fundamental software processes, software measurement methods, and latest research results.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="awards" class="at-a-glance-header">
            <i class="fas fa-heart"></i>
            Awards
          </div>
        </div>
        <div class="column">
          <span class="subsec-head">Open Data Recognition Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://eseiw2018.wixsite.com/esem2018">ESEM18</a>
                  <div class="abbrv">12th International Symposium on Empirical Software Engineering and Measurement</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Best Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://ceur-ws.org/Vol-2220/">ConfWS</a>
                  <div class="abbrv">20th International CEUR Wokshop on Configuration</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Best Full Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://eseiw2020.di.uniba.it/esem_conf">ESEM 2020 (Industry Track)</a>
                  <div class="abbrv">14th International Symposium on Empirical Software Engineering and Measurements</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="https://dsd-seaa2020.um.si/seaa/">SEAA 2020</a>
                  <div class="abbrv">Euromicro Conference on Software Engineering and Advanced Applications</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="http://alarcos.esi.uclm.es/eseiw2016/esem">ESEM16</a>
                  <div class="abbrv">10th International Symposium on Empirical Software Engineering and Measurement</div>
                </th>
                <td nowrap>2016</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Highly Commended Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://ease2016.lero.ie/">EASE16</a>
                  <div class="abbrv">20th International Conference on Evaluation and Assessment in Software Engineering</div>
                </th>
                <td nowrap>2016</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <span class="subsec-head">Nokia Foundation</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <div class="abbrv">Scholarship recipient</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>

          <span class="subsec-head">ISACA</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <div class="abbrv">Finland chapter scholarship recipient</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div class="at-a-glance-header">
            <i class="fas fa-user"></i>
            People
          </div>
        </div>
        <div class="column">
          <div class="teaching-head">Students (M.Sc.)</div>
          <table class="table teaching">
            <tbody>
              <tr>
                <th class="collaborators">Yujie Huang and Qianneng Wang<br> <em>BTH</em></th>
                <td>Identification and Management of Requirements Debt</td>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th class="collaborators">Nynesh Reddy Gujjula<br> <em>BTH</em></th>
                <td>Practices and Advantages of Submitting Images in OSS projects</td>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th class="collaborators">Abhinav Ram Kola <br><em>BTH</em></th>
                <td>Customer communication challenges in Agile Requirements Engineering</td>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th class="collaborators">Alireza Mollaalizadehbahnemiri <br> <em>U. Hamburg</em></th>
                <td>Knowledge Extraction from API Reference Documentation Using Deep Learning</td>
                <td nowrap>2018</td>
              </tr>
              <tr>
                <th class="collaborators">Alexander Oeser <br> <em>U. Hamburg</em></th>
                <td>Finding, Understanding, and Enriching Developers Screencast on YouTube</td>
                <td nowrap>2017</td>
              </tr>
              <tr>
                  <th class="collaborators">Teemu Moisainen <br><em>U. Oulu</em></th>
                  <td>A DataViz tool for Test-Driven Development</td>
                  <td nowrap>2016</td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="column collaborators">
          <div class="teaching-head">Collaborators at Large</div>
          <a href="http://www.grise.upm.es/htdocs/miembros/natalia/">Natalia Juristo</a>, <span class="job">Universidad Politecnica de Madrid, Spain</span>
          <br><a href="http://www2.unibas.it/gscanniello/">Giuseppe Scanniello</a>, <span class="job">University of Basilicata, Italy</span>
          <br><a href="https://www.ece.cmu.edu/directory/bios/erdogmus-hakan.html">Hakan Erdogmus</a>, <span class="job">Carnegie Mellon University, USA</span>
          <br><a href="http://collab.di.uniba.it/nicole/">Nicole Novielli</a>, <span class="job">University of Bari, Italy</span>
          <br><a href="https://mast.informatik.uni-hamburg.de/people/walidmaalej/">Walid Maalej</a>, <span class="job">University of Hamburg, Germany</span>
        </div>
      </div>
    </div>
  </section>
