<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="slogan">
          I'm a <a href="https://en.wikipedia.org/wiki/Docent#Sweden">Docent</a> 
          at the <a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Software Engineering
            Research Lab</a>, Blekinge Institute of Technology, Sweden <i class="flag-icon flag-icon-se"></i>
        </div>
</section>

<svg height="0" width="0">
  <lineargradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
    <stop offset="0%" style="stop-color:#cec14a;stop-opacity:1" />
    <stop offset="100%" style="stop-color:#f39c18;stop-opacity:1" />
  </lineargradient>
</svg>

<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="research" class="at-a-glance-header">
            <i class="fas fa-flask"></i>
            Research
          </div>
        </div>
        <div class="column content research">
          <p>
            I'm interested in various aspects of software and requirements engineering, such as:
          </p>
          <ul>
            <li>data-driven requirements engineering,</li>
            <li>developers' affect, behaviours, and cognition,</li>
            <li>software testing, including security testing.</li>
          </ul>
          <p>
            My work focuses on <b class="white"><i>empirical</b></i> methodologies. I have strong expertise in:
            <ul>
              <li>designing, executing, and analyzing controlled experiments to evaluate software development
                processes and tools,</li>
              <li>applying machine learning and natural language processing to software development artifacts.</li>
            </ul>
          </p>
          <p>
            I am currently the <b>principal investigator</b> of <a href="https://sesam-project.github.io/">Secure software engineering through Sensible AutoMation project (SESAM)</a> founded by the Knowledge Foundation of Sweden (KKS) and co-PI of the project <a href="https://www.bth.se/eng/about-bth/departments/softwareengineering/thremolia-threat-modeling-for-llm-integrated-applications/">Threat Modeling for LLM-Integrated applications (ThreMoLIA)</a> funded by the Sweden Innovation Agency (Vinnova).
          </p>
          <p>
            At BTH, I am also involved in the <a href="https://rethought.se">Software Engineering Rethought Profile</a> funded by KKS. 
            <br>
            Between 2017 and 2020, I was part of the H2020 project <a href="https://openreq.eu">OpenReq </a> funded by the European Union. 
            <br>
            During my Ph.D., I participated in the project <a href="http://eatdd.oulu.fi">Empirical Assessment of Test-Driven Development (EATDD)</a> funded by the Academy of Finland.
          </p>

          <p><i class="ai ai-open-access"></i> I'm enthusiastic about open research data and open science.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="publications" class="at-a-glance-header">
          <i class="fas fa-file-alt"></i>
          Publications
        </div>
      </div>
      <div class="column">
        <div class="publication-head">Most Recent</div>
        <table class="table publications">
          <tbody>
            <tr>
              <td>
                <div class="pub-title">Augmenting software bills of materials with software vulnerability description: A preliminary study on GitHub</div>
                <div class="pub-authors">Davide Fucci, Massimiliano Di Penta, Simone Romano, Giuseppe Scanniello</div>
                <div class="pub-conf-journal-name">ACM Intl. Conf. on Foundations of Software Engineering</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/abs/10.1145/3696630.3728513">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">FSE 2025</div>
              </td>
              <td>
            </tr> 
            <tr>
              <td>
                <div class="pub-title">The Perspective of Agile Software Developers on Data Privacy</div>
                <div class="pub-authors">Mariana Peixoto, Tony Gorschek, Daniel Mendez, Carla Silva, Davide Fucci</div>
                <div class="pub-conf-journal-name">Journal of Software: Evolution and Process</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/10.1145/3688837">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">JSEP 2025</div>
              </td>
              <td>
            </tr> 
            <tr>
              <td>
                <div class="pub-title">Systematic mapping study on requirements engineering for regulatory compliance of software systems</div>
                <div class="pub-authors">Oleksandr Kosenkov, Parisa Elahidoost, Tony Gorschek, Jannik Fischbach, Daniel Mendez, Michael Unterkalmsteiner, Davide Fucci, Rahul Mohanani</div>
                <div class="pub-conf-journal-name">Information and Software Technology</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/10.1145/3688837">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">IST 2025</div>
              </td>
              <td>
            </tr 
            <tr>
              <td>
                <div class="pub-title">Relevant Information in TDD Experiment Reporting</div>
                <div class="pub-authors">Fernando Uyaguari, Silvia T. Acuña, John W. Castro, Davide Fucci, Oscar Dieste, Sira Vegas</div>
                <div class="pub-conf-journal-name">ACM Transactions on Software Engineering and Methodology</div>
                <div class="pub-meta"><a href="https://dl.acm.org/doi/10.1145/3688837">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">TOSEM 2025</div>
              </td>
              <td>
            </tr 
            <tr>
              <td>
                <div class="pub-title">Applying bayesian data analysis for causal inference about requirements quality: a controlled experiment</div>
                <div class="pub-authors">Julian Frattini, Davide Fucci, Richard Torkar, Lloyd Montgomery, Michael Unterkalmsteiner, Jannik Fischbach, Daniel Mendez</div>
                <div class="pub-conf-journal-name">Empirical Software Engineering</div>
                <div class="pub-meta"><a href="https://doi.org/10.1007/s10664-024-10582-1">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">EMSE 2025</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Evaluating Software Security Maturity Using OWASP SAMM: Different Approaches and Stakeholders Perceptions</div>
                <div class="pub-authors">Davide Fucci, Emil Alégroth, Michael Felderer, Christoffer Johannesson</div>
                <div class="pub-conf-journal-name">Journal of Systems and Software</div>
                <div class="pub-meta"><a href="https://doi.org/10.1016/j.jss.2024.112062">
                  <span class="tag pub-tag">PDF</span>
                </a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">JSS 2024</div>
              </td>
            </tr>
           </tbody>
        </table>

        <a class="button publication-button" href="https://scholar.google.de/citations?hl=en&user=9hlOBUcAAAAJ">
          <i class="fa-fw ai ai-google-scholar-square "></i>&nbsp; Google Scholar Profile
        </a>
      </div>
      <div class="column">
        <div class="publication-head">Most Cited</div>
        <table class="table publications">
          <tbody>
            <tr>
              <td>
                <div class="pub-title">A Dissection of the test-driven Development Process: Does it Really Matter to
                  Test-first or to Test-last?</div>
                <div class="pub-authors">Davide Fucci, Hakan Erdogmus, Burak Turhan, Markku Oivo, Natalia Juristo</div>
                <div class="pub-conf-journal-name">IEEE Transactions on Software Engineering</div>
                <div class="pub-meta"><a href="https://arxiv.org/pdf/1611.05994.pdf"><span
                  class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">TSE 2017</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Recognizing Developers' Emotions while Programming</div>
                <div class="pub-authors">Daniela Girardi, Nicole Novielli, Davide Fucci, Filippo Lanubile</div>
                <div class="pub-conf-journal-name">ACM/IEEE 42nd International Conference on Software Engineering</div>
                <div class="pub-meta"><a href="https://doi.org/10.1145/3377811.3380374">
                  <span class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">ICSE 2020</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Empirical evaluation of the effects of experience on code quality and programmer productivity: an exploratory study</div>
                <div class="pub-authors">Oscar Dieste, Alejandrina M. Aranda, Fernando Uyaguari, Burak Turhan, Ayse Tosun, Davide Fucci, Markku Oivo, Natalia Juristo </div>
                <div class="pub-conf-journal-name">Empirical Software Engineering Journal</div>
                <div class="pub-meta"><a href="https://link.springer.com/article/10.1007/s10664-016-9471-3"><span
                  class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">EMSE 2018</div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="pub-title">Empirical Research on Requirements Quality: A Systematic Mapping Study</div>
                <div class="pub-authors">Lloyd Montgomery, Davide Fucci, Abir Bouraffa, Lisa Scholz, Walid Maalej
</div>
                <div class="pub-conf-journal-name">Requirements Engineering Journal</div>
                <div class="pub-meta"><a
                  href="https://doi.org/10.1007/s00766-022-00378-4"><span
                    class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">REEN 2022</div>
              </td>
            </tr>
           <tr>
              <td>
                <div class="pub-title">A simple NLP-based approach to support onboarding and retention in open source communities</div>
                <div class="pub-authors">Christoph Stanik, Lloyd Montgomery, Daniel Martens, Davide Fucci, Walid Maalej</div>
                <div class="pub-conf-journal-name">Intl. Conf. on Software Maintenance and Evolution</div>
                <div class="pub-meta"><a href="https://ieeexplore.ieee.org/abstract/document/8530027"><span
                  class="tag pub-tag">PDF</span></a></div>
              </td>
              <td nowrap>
                <div class="pub-conf-abbrv">ICSME 2018</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Service -->
<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="service" class="at-a-glance-header">
            <i class="fas fa-pen-alt"></i>
            Service
          </div>
        </div>
        <div class="column">
          <span class="subsec-head">Principal Organizer</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://mo2re.github.io">MO2RE</a>
                  <div class="abbrv">1st Workshop on Multi-disciplinary, Open, and RElevant Requirements Engineering</div>
                </th>
                <td nowrap>2024-2026</td>
              </tr>
              <tr>
                <th>
                  <a href="https://semotion.github.io/2020">SEmotion</a>
                  <div class="abbrv">5th Intl. Workshop on Emotion Awareness in Software Engineering</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="http://nlp4re.github.io/2020">NLP4RE</a>
                  <div class="abbrv">Third Workshop on Natural Language Processing for Requirements Engineering</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
              <tr>
                <th>
                  <a href="https://mast.informatik.uni-hamburg.de/affectre/">AffectRE</a>
                  <div class="abbrv">2nd Intl. Workshop on Affective Computing for Requirements Engineering</div>
                </th>
                <td nowrap>2019</td>
              </tr>
              <tr>
                <th>
                  <a href="https://semotion.github.io/2019/">SEmotion</a>
                  <div class="abbrv">4th Intl. Workshop on Emotion Awareness in Software Engineering</div>
                </th>
                <td nowrap>2019</td>
              </tr>
              <tr>
                <th>
                  <a href="https://mast.informatik.uni-hamburg.de/affectre/2018">AffectRE</a>
                  <div class="abbrv">1st Intl. Workshop on Affective Computing for Requirements Engineering</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Organizing Committee Member</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://conf.researchr.org/committee/RE-2025/RE-2025-organizing-committee">RE</a>
                  <div class="abbrv">33rd IEEE International Requirements Engineering 2025 conference</div>
                </th>
                <td nowrap>2025</td>
              </tr>
              <tr>
                <th>
                  <a href="https://conf.researchr.org/committee/esem-2024/esem-2024-organizing-committee">ESEM </a>
                  <div class="abbrv">18th ACM/IEEE International Symposium on Empirical Software Engineering and
                    Measurement</div>
                </th>
                <td nowrap>2024</td>
              </tr>
              <tr>
                <th>
                  <a href="https://conf.researchr.org/committee/esem-2023/esem-2023-organizing-committee">ESEM </a>
                  <div class="abbrv">17th ACM/IEEE International Symposium on Empirical Software Engineering and
                    Measurement</div>
                </th>
                <td nowrap>2023</td>
              </tr>
              <tr>
                <th>
                  <a href="https://2021.icse-conferences.org/committee/icse-2021-organizing-committe">ICSE</a>
                  <div class="abbrv">The 43rd IEEE/ACM International Conference on Software Engineering</div>
                </th>
                <td nowrap>2021</td>
              </tr>
              <tr>
                <th>
                  <a href="http://eseiw2018.wixsite.com/esem2018">ESEM </a>
                  <div class="abbrv">12th ACM/IEEE International Symposium on Empirical Software Engineering and
                    Measurement</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Program Committee Member</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  ICSE
                  <div class="abbrv">ACM/IEEE International Conference on Software Engineering</div>
                </th>
                <td nowrap>2025, 2026</td>
              </tr>
              <tr>
                <th>
                  ICPC
                  <div class="abbrv">ACM/IEEE International Conference on Program Comprehension</div>
                </th>
                <td nowrap>2019, 2021-2022</td>
              </tr>
              <tr>
                <th>
                  RE
                  <div class="abbrv">ACM/IEEE International Conference on Requirements Engineering</div>
                </th>
                <td nowrap>2021-2024</td>
              </tr>
              <tr>
                <th>
                  CHASE
                  <div class="abbrv">ACM/IEEE International Conference on Cooperative and Human Aspects of Software
                    Engineering</div>
                </th>
                <td nowrap>2019-2025</td>
              </tr>
              <tr>
                <th>
                  ECSA
                  <div class="abbrv">ACM/IEEE European Conference on Software Architecture</div>
                </th>
                <td nowrap>2021</td>
              </tr>
              <tr>
                <th>
                  SANER
                  <div class="abbrv">ACM/IEEE International Conference on Software Analysis, Evolution, and
                    Re-engineering</div>
                </th>
                <td nowrap>2020-2024</td>
              </tr>
              <tr>
                <th>
                  REFSQ
                  <div class="abbrv">International. Working Conference on Requirements Engineering: Foundation for
                    Software Quality </div>
                </th>
                <td nowrap>2019-2021, 2023-2024</td>
              </tr>
              <tr>
                <th>
                  ESEM
                  <div class="abbrv">ACM/IEEE International Symposium on Empirical Software Engineering and Measurement
                  </div>
                </th>
                <td nowrap>2015–2025</td>
              </tr>
              <tr>
                <th>
                  ICSSP
                  <div class="abbrv">International Conference on Software and System Processes</div>
                </th>
                <td nowrap>2016–2021</td>
              </tr>
              <tr>
                <th>
                  EASE
                  <div class="abbrv">IEEE International Conference on Evaluation and Assessment in Software Engineering
                  </div>
                </th>
                <td nowrap>2018–2020, 2023–2024</td>
              </tr>
              <tr>
                <th>
                  PROFES
                  <div class="abbrv">International Conference on on Product-Focused Software Process Improvement</div>
                </th>
                <td nowrap>2018-2020</td>
              </tr>
              <tr>
                <th>
                  SEAA
                  <div class="abbrv">Euromicro Conference Software Engineering and Advanced Applications</div>
                </th>
                <td nowrap>2018</td>
              </tr>
              <tr>
                <th>
                  XP
                  <div class="abbrv">International Conference on Agile Software Development</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <span class="subsec-head">Journal Reviewer</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  CSUR
                  <div class="abbrv">ACM Computing Surveys</div>
                </th>
              </tr>
              <tr>
              <tr>
                <th>
                  TSE
                  <div class="abbrv">IEEE Transactions on Software Engineering</div>
                </th>
              </tr>
              <tr>
                <th>
                  TOSEM
                  <div class="abbrv">IEEE Transactions on Software Engineering and Methodology</div>
                </th>
              </tr>
              <tr>
                <th>
                  REEN
                  <div class="abbrv">Requirements Engineering Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  EMSE
                  <div class="abbrv">Empirical Software Engineering Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  IST
                  <div class="abbrv">Information and Software Technology Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  JSS
                  <div class="abbrv">Journal of Software and Systems</div>
                </th>
              </tr>
              <tr>
                <th>
                  STVR
                  <div class="abbrv">Software Testing, Verification and Reliability Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  SQJ
                  <div class="abbrv">Software Quality Journal</div>
                </th>
              </tr>
              <tr>
                <th>
                  JSME
                  <div class="abbrv">Journal of Software Maintenance and Evolution: Research and Practice</div>
                </th>
              </tr>
            </tbody>
          </table>

          <a class="button publication-button" href="https://www.publons.com/a/930114/"><i
            class="fa-fw ai ai-publons-square "></i>&nbsp; Publons profile</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Teaching -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div id="teaching" class="at-a-glance-header">
          <i class="fas fa-graduation-cap"></i>
          Teaching
        </div>
      </div>
      <div class="column">
        <div class="teaching-head">Blekinge Institute of Technology</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/education/courses/20241/BKATY/">Adaptive Lean Software Testing</a>
              <td nowrap>Spring 2024</td>
            </tr>
            <tr>
              <td>This course provides techniques and tools for verification and validation of software in environments where the principles for adaptive, Agile, or Lean software development are employed.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/education/courses/20222/D5869/">Security Inventory for Software
                Development</a>
              <td nowrap>Fall 2022&ndash;2023</td>
            </tr>
            <tr>
              <td>This course is aimed at professionals working in software development. The lectures cover different
                models integrating security in the SDLC.
                The course enables students to assess the maturity of secure software development processes and plan for
                their improvement.
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Software Testing</a>
              <td nowrap>Spring 2021&ndash;2025</td>
            </tr>
            <tr>
              <td>Lectures on different testing strategies, including black-box, white-box, and exploratory testing.
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/education/courses/20221/D5855/">Quality Assurance of Security
                Aware Applications</a>
              <td nowrap>Spring 2022, 2023</td>
            </tr>
            <tr>
              <td>This course is aimed at professionals working in software development. Fundamental testing practices
                applied to secure software development. Integration of automated software testing to verify software
                security.</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th nowrap><a href="https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/dipt/">Global
                Software Development</a>
              <td nowrap>Fall 2019—2023</td>
            </tr>
            <tr>
              <td>Lectures on strategy for outsorcing software development, distributed developmend and tools.</td>
            </tr>
          </tbody>
        </table>
               <div class="teaching-head">Zhejiang University of Technology (Visiting lecturer)</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="#">Software Testing</a>
              <td nowrap>Spring 2025</td>
              </th>
            </tr>
            <tr>
              <td>Lectures on different testing strategies, including black-box, white-box, and exploratory testing, with a focus on testing AI systems.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <div class="teaching-head">University of Hamburg</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://mast.informatik.uni-hamburg.de/lecture-emse-patterns/">Software Patterns</a>
              <td nowrap>Spring 2017, 2018</td>
              </th>
            </tr>
            <tr>
              <td>Lectures on design patterns, SOLID principles, testing, and continuos deployment.</td>
            </tr>
            <tr>
              <th nowrap><a href="https://mast.informatik.uni-hamburg.de/seminar-emse/">Empirical Software
                Engineering</a></th>
              <td nowrap>Spring 2017, 2018</td>
            </tr>
            <tr>
              <td>Seminars on both qualitative and quantitative research methods discussing their applications to
                software projects.</td>
            </tr>
          </tbody>
        </table>
        <div class="teaching-head">University of Oulu</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/815311a/esite">Software Quality and Testing</a>
              </th>
              <td nowrap>Fall 2013–2016</td>
            </tr>
            <tr>
              <td>Lectures on software quality assurance, and quality management. Hands-on fundamentals about software
                testing and test automation.</td>
            </tr>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/817602s/esite">Software Development in Global
                Environment</a></th>
              <td nowrap>Fall 2013–2015</td>
            </tr>
            <tr>
              <td>Lectures on distributed software development, with a focus on communication and knowledge management
                challenges. </td>
            </tr>
            <tr>
              <th nowrap><a href="https://noppa.oulu.fi/noppa/kurssi/815662s/esite">Software Engineering Management,
                Measurement and Improvement</a></th>
              <td nowrap>Spring 2014</td>
            </tr>
            <tr>
              <td>Lectures on fundamental software processes, software measurement methods, and latest research results.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="darker-bg-bar">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
          <div id="awards" class="at-a-glance-header">
            <i class="fas fa-heart"></i>
            Grants&amp;Awards
          </div>
        </div>
        <div class="column">
          <span class="subsec-head">Knowledge Foundation (KKS)</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <div class="abbrv">H&ouml;g programme</br>SEcure software through Sensible AutoMation (SESAM)</br>$740 000
                  </div>
                </th>
                <td nowrap>Nov 2024–Dec 2027</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Nokia Foundation</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <div class="abbrv">Scholarship recipient</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>

          <span class="subsec-head">ISACA</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <div class="abbrv">Finland chapter scholarship recipient</div>
                </th>
                <td nowrap>2014</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column">
          <span class="subsec-head">Distinguished Reviewer Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://conf.researchr.org/home/chase-2023">CHASE 2023</a>
                  <div class="abbrv">16th International Conference on Cooperative and Human Aspects of Software
                    Engineering</div>
                </th>
                <td nowrap>2023</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Open Data Recognition Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://eseiw2018.wixsite.com/esem2018">ESEM 2018</a>
                  <div class="abbrv">12th International Symposium on Empirical Software Engineering and Measurement
                  </div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Best Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://ceur-ws.org/Vol-2220/">ConfWS</a>
                  <div class="abbrv">20th International CEUR Wokshop on Configuration</div>
                </th>
                <td nowrap>2018</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Best Full Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="https://eseiw2020.di.uniba.it/esem_conf">ESEM 2020 (Industry Track)</a>
                  <div class="abbrv">14th International Symposium on Empirical Software Engineering and Measurements
                  </div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="https://dsd-seaa2020.um.si/seaa/">SEAA 2020</a>
                  <div class="abbrv">Euromicro Conference on Software Engineering and Advanced Applications</div>
                </th>
                <td nowrap>2020</td>
              </tr>
              <tr>
                <th>
                  <a href="http://alarcos.esi.uclm.es/eseiw2016/esem">ESEM 2016</a>
                  <div class="abbrv">10th International Symposium on Empirical Software Engineering and Measurement
                  </div>
                </th>
                <td nowrap>2016</td>
              </tr>
            </tbody>
          </table>
          <span class="subsec-head">Highly Commended Paper Award</span>
          <table class="table service-table">
            <tbody>
              <tr>
                <th>
                  <a href="http://ease2016.lero.ie/">EASE 2016</a>
                  <div class="abbrv">20th International Conference on Evaluation and Assessment in Software Engineering
                  </div>
                </th>
                <td nowrap>2016</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <div class="at-a-glance-header">
          <i class="fas fa-user"></i>
          People
        </div>
      </div>
      <div class="column">
        <div class="teaching-head">Ph.D. students</div>
        <table class="table teaching">
          <tbody>
            <tr>
              <th class="collaborators">Oleksii Novikov<br><em>BTH</em></th>
              <td>Developers-oriented software security</td>
              <td nowrap>2023&ndash;2028</td>
            </tr>
            <tr>
              <th class="collaborators">Florian Angermeir<br> <em>BTH/fortiss</em></th>
              <td>Automated continous security compliance</td>
              <td nowrap>2023&ndash;2027</td>
            </tr>
            <tr>
              <th class="collaborators">Oleksandr Kosenkov<br><em>BTH/fortiss</em></th>
              <td>Artefact-based regulatory requirements engineering</td>
              <td nowrap>2021&ndash;2025</td>
            </tr>
            <tr>
              <th class="collaborators">Parisa Elahidoost<br> <em>BTH/fortiss</em></th>
              <td>Automated traceability and compliance for legal requirements engineering</td>
              <td nowrap>2021&ndash;2025</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column collaborators">
        <div class="teaching-head">Collaborators at Large</div>
        <a href="http://www.grise.upm.es/htdocs/miembros/natalia/">Natalia Juristo</a>, <span class="job">Universidad
          Politecnica de Madrid, Spain</span>
        <br><a href="http://www2.unibas.it/gscanniello/">Giuseppe Scanniello</a>, <span class="job">University of
          Basilicata, Italy</span>
        <br><a href="https://www.ece.cmu.edu/directory/bios/erdogmus-hakan.html">Hakan Erdogmus</a>, <span
          class="job">Carnegie Mellon University, USA</span>
        <br><a href="http://collab.di.uniba.it/nicole/">Nicole Novielli</a>, <span class="job">University of Bari,
          Italy</span>
        <br><a href="https://mast.informatik.uni-hamburg.de/people/walidmaalej/">Walid Maalej</a>, <span
          class="job">University of Hamburg, Germany</span>
      </div>
    </div>
  </div>
</section>
