<nav id="entireNavbar" class="navbar is-fixed-top">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{ site.baseurl }}/">
        <span class="davide">DAVIDE</span>&thinsp;<span class="fucci">FUCCI</span>&nbsp;<span class="phd align-text-bottom">Ph.D.</span>
      </a>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navBar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navBar" class="navbar-menu">
      <div class="navbar-start">
        <!--Nothing here right now-->
      </div>

      <div class="navbar-end navbar-text">
        <!-- <a class="navbar-item" href="https://bulma.io/"><span class="topbar-item">Blog</span></a> -->
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#research"><span class="topbar-item">Research</span></a>
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#publications"><span class="topbar-item">Publications</span></a>
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#service"><span class="topbar-item">Service</span></a>
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <a class="navbar-item" href="{{ site.baseurl }}/index.html#teaching"><span class="topbar-item">Teaching</span></a>

        <a class="navbar-item" href="{{ site.baseurl }}/index.html#contact"><span class="topbar-item">Contact</span></a>
       
       
        <a class="navbar-item" href="https://github.com/dfucci/MyCV/blob/master/cv.pdf?raw=true">
        <span class="topbar-item">CV</span></a>
        <a class="navbar-item" href="https://medium.com/@dfucci"><span class="topbar-item"><i class="fab fa-medium-m"></i></span></a>

        <a class="navbar-item" href="https://github.com/dfucci"><span class="topbar-item"><i class="fab fa-github"></i></span></a>

        <a class="navbar-item" href="https://www.linkedin.com/in/dfucci"><span class="topbar-item"><i class="fab fa-linkedin"></i></span></a>
      </div>
    </div>
  </div>
</nav>
